.footer {
    position: absolute;
    display: flex;
    margin-bottom: 2rem;
    flex-direction: row;
    align-items: center;
}
.social {
    font-size: 1rem !important;
    font-weight: 900;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif !important;
    cursor: pointer;
    text-decoration: underline !important;
    margin-right: 2rem;
}
